<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="ru"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Категория</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .fa {
            padding: 20px;
            font-size: 30px;
            width: 30px;
            text-align: center;
            text-decoration: none;
            margin: 5px 2px;
            border-radius: 50%;
        }

        .fa:hover {
            opacity: 0.7;
        }
    </style>
</head>
<body style="background-color:lightyellow">
<nav class="navbar navbar-light">
    <div class="container-fluid">
        <form class="form-inline">
            <a th:href="@{/home}">
                <button class="btn btn-outline-success" type="button">Главная</button>
            </a>
        </form>
        <form class="form-inline my-2 my-lg-0">
            <a th:href="@{/search}">
                <button class="btn btn-outline-success m-1" type="button">Поиск</button>
            </a>
            <a th:href="@{/userPage}">
                <button class="btn btn-outline-success m-1" type="button">Кабинет</button>
            </a>
            <a th:href="@{/cart/open}">
                <button class="btn btn-outline-success m-1" type="button">Корзина</button>
            </a>
            <th:block sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}">
                    <button class="btn btn-outline-success m-1" type="button">Выйти</button>
                </a>
            </th:block>
            <th:block sec:authorize="!isAuthenticated()">
                <a th:href="@{/login}">
                    <button class="btn btn-outline-success m-1" type="button">Войти</button>
                </a>
            </th:block>
        </form>
    </div>
</nav>
<h2 style="text-align: center" th:text="${categoryName}"></h2>
<div style="text-align: center" th:text="${message}"></div>
<div th:test="${products}!=null">
    <div class="container-fluid mb-4">
        <div class="card w-25 m-1" th:each="product : ${products}">
            <div class="card-body">
                <div class="row">
                    <div class="col m-1">
                        <a
                                th:href="'/products/'+${product.getId()}">
                            <img
                                    class="card-img"
                                    style="width:140px;height:140px"
                                    th:src="${'/images/' + product.imagePath}"
                                    alt="Product image"></a></div>
                    <div class="col m-1" style="text-align: center"><p></p>
                        <a th:href="'/products/'+${product.getId()}">
                            <p th:text="${product.getName()}"></p>
                        </a>
                        <p th:text="${product.getDescription()}"></p>
                        <p th:text="${product.getPrice()}"></p></div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav>
    <ul class="pagination justify-content-center" style="margin: 15px">
        <th:block th:if="${totalPages > 1}">
            <li class="page-item" th:classappend="${pageNumber == 1 ? 'disabled' : ''}">
                <a class="page-link"
                   th:href="@{'/category/' + ${category_id} + '?pageNumber=' + ${pageNumber - 2} + '&pageSize=' + ${selectedPageSize}}"
                   tabindex="-1">Предыдущая</a>
            </li>
            <th:block th:each="i: ${#numbers.sequence(1, totalPages)}">
                <li class="page-item" th:classappend="${pageNumber == i ? 'active' : ''}">
                    <a class="page-link"
                       th:href="@{'/category/' + ${category_id} + '?pageNumber=' + ${i - 1} + '&pageSize=' + ${selectedPageSize}}"
                       th:text="${i}">Номер страницы</a>
                </li>
            </th:block>
            <li class="page-item" th:classappend="${pageNumber == totalPages? 'disabled' : ''}">
                <a class="page-link"
                   th:href="@{'/category/' + ${category_id} + '?pageNumber=' + ${pageNumber} + '&pageSize=' + ${selectedPageSize}}">Следующая</a>
            </li>
        </th:block>
        <div class="dropdown">
            <button class="btn btn-success" type="button" id="dropdownMenu" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="margin-left:30px ">
                Размер страницы
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:classappend="${pageSize == selectedPageSize ? 'active' : ''}"
                       th:href="@{'/category/' + ${category_id} + '?pageNumber=0&pageSize=' + ${pageSize}}"
                       th:text="${pageSize}">Размер страницы</a></li>
                <li><a class="dropdown-item"
                       th:classappend="${pageSize * 2 == selectedPageSize ? 'active' : ''}"
                       th:href="@{'/category/' + ${category_id} + '?pageNumber=0&pageSize=' + ${pageSize * 2}}"
                       th:text="${pageSize * 2}">Двойной размер страницы</a></li>
                <li><a class="dropdown-item" th:classappend="${pageSize * 3 == selectedPageSize ? 'active' : ''}"
                       th:href="@{'/category/' + ${category_id} + '?pageNumber=0&pageSize=' + ${pageSize * 3}}"
                       th:text="${pageSize * 3}">Тройной размер страницы</a></li>
            </ul>
        </div>
    </ul>
</nav>
<br>
<br>
<div sec:authorize="hasAuthority('ADMIN')">
    <form th:method="POST" th:action="@{/category/csv/import}" enctype="multipart/form-data"
          class="file-import">
        <label for="file-upload" class="custom-file-upload"
               style="padding: 15px;margin: 0px 0px 15px 15px;border: 1px solid #ccc">
            <input id="file-upload" name="file" type="file" class="title" accept=".csv">
            <button type="submit" class="btn-outline-success">Импортировать продукты категории</button>
        </label>
    </form>
    <form th:method="POST" th:action="@{'/category/csv/export/'+ ${category_id}}">
        <button type="submit" class="btn-outline-success" style="margin: 15px">Экспортировать продукты категории
        </button>
    </form>
</div>
</body>
<footer class="text-center text-lg-start bg-white text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div class="me-5 d-none d-lg-block">
            <span>Присоединяйтесь к нам в социальных сетях:</span>
        </div>
        <div>
            <a href="https://www.facebook.com/sveta.yezhaleva/" class="me-4 link-secondary">
                <i class="fa fa-facebook" style="align-items: center"></i>
            </a>
            <a href="https://t.me/sviatlana_y" class="me-4 link-secondary">
                <i class="fa fa-telegram"></i>
            </a>
            <a href="https://www.instagram.com/svetik_vojik/" class="me-4 link-secondary">
                <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/svetlana-yezheleva/" class="me-4 link-secondary">
                <i class="fa fa-linkedin"></i>
            </a>
            <a href="https://github.com/Svetlana-vojik" class="me-4 link-secondary" style="margin-right:30px">
                <i class="fa fa-github"></i>
            </a>
        </div>
    </section>
    <!-- Section: Social media -->
    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3 text-secondary"></i>Cake shop
                    </h6>
                    <p>
                        В жизни так мало радостей - балуйте себя сегодня ... не откладывайте на завтра!
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Категории продуктов
                    </h6>
                    <p>
                        <a th:href="@{/category/1}" class="text-reset">Капкейки</a>
                    </p>
                    <p>
                        <a th:href="@{/category/2}" class="text-reset">Торты</a>
                    </p>
                    <p>
                        <a th:href="@{/category/3}" class="text-reset">Пирожные</a>
                    </p>
                    <p>
                        <a th:href="@{/category/4}" class="text-reset">Круассаны</a>
                    </p>
                    <p>
                        <a th:href="@{/category/5}" class="text-reset">Киши</a>
                    </p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Полезные ссылки
                    </h6>
                    <p>
                        <a href="/userPage" class="text-reset">Личный кабинет</a>
                    </p>
                    <p>
                        <a href="/search" class="text-reset">Поиск</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Контакты</h6>
                    <p><i class="fa fa-home me-3 text-secondary" style="margin-right:10px"></i> Минск, ул.Скрыганова д.3
                        каб.36 </p>
                    <p>
                        <i class="fa fa-envelope me-3 text-secondary" style="margin-right:10px"></i>
                        cake@example.com
                    </p>
                    <p><i class="fa fa-phone me-3 text-secondary" style="margin-right:10px"></i> + 375 29 182 42 28</p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
        © 2023 Copyright:
        <a class="text-reset fw-bold" href="https://bootstrap.com/">Bootstrap.com</a>
    </div>
</footer>
</html>