<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="ru">
<head>
    <title>Ошибка</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<h2>Ошибка</h2>

<div class="container-fluid mb-4">
    <h1 class="alert alert-danger"
        th:text="${error}"
    ></h1>
    <a th:href="@{/login}">
        <button type="button" class="btn btn-danger">Попробуйте снова...</button>
    </a>
    <a th:href="@{/home}">
        <button type="button" class="btn btn-success">Главная</button>
    </a>
</div>
</body>
</html>